h1{
  text-align:center;
  color:white;
  font-size:55px;
  font-family:Arial;
}

h2{
  text-align:left;
  color:white;
  font-family:Arial;
  border-bottom:10px solid green;
}

p{
  color:white;
  font-family:Arial;
  font-size:25px;
}

body{
  background-image: url('http://i.imgur.com/lvXbgcg.jpg');
}
  